<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Flask Blog{% endblock %}</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('home') }}">Accueil</a>
            <a href="{{ url_for('register') }}">Créer un compte</a>
            <a href="{{ url_for('login') }}">Se connecter</a>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
