{% extends "base.html" %}

{% block content %}
    <h1>Se connecter</h1>
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <div>
            {{ form.email.label }}
            {{ form.email }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.remember.label }}
            {{ form.remember }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <a href="#">J'ai oublié mon mot de passe</a>
    <a href="{{ url_for('register') }}">Je n'ai pas de compte</a>
{% endblock %}