{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }} posts ({{ posts.total }})</h1>

    {% for post in posts.items %}
        <p>{{ post.title }}</p>
    {% endfor %}
    {% for page in posts.iter_pages() %}
        {% if page == posts.page %}
            <a href="{{ url_for('users.user_posts', username=user.username, page=page) }}">[{{ page }}]</a>
        {% elif page %}
            <a href="{{ url_for('users.user_posts', username=user.username, page=page) }}">{{ page }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}